*     {
  box-sizing: border-box;
}
html,
body   {
  line-height: 1.5;
  font-size: 16px;
}

/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  height: 55px;
  background: #222;
  color: #FFF;
}

/* logo */
#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;

}
#logo img    {
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
}

/* main navigation */
#nav     {
  display: inline-block;
}
nav ul   {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}

nav ul li a:hover   {
  background: #444;
}

/* styling our footer */
footer   {
  
  width:100%;
  background: #222;
  color: #777;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}